<article class="post">
  <div class="title boldi">
    {{title}}<br />
  </div>
  <div class="meta">
    Order created on: <span class="boldi2">{{format_date created_at}}</span><br />
    Order created by: <span class="boldi2">{{user.username}}</span><br />
    Order details: <span class="boldi2">{{post_url}}</span><br />
    <a href="/post/{{id}}">{{comments.length}} Addt’l Details</a>
  </div>
</article>